<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h2#title {
            color: green;
            text-align: center;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h2 id="title"></h2>

    <script>
        var today = new Date();
        
        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();

        var time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();

        var dateTime = date + ' ' + time;

        var newText = "Deployed a NodeJS Application with Cloud Run by Hazlan Muhammad Qodri at " + dateTime
        document.getElementById("title").innerHTML = newText
    </script>
</body>
</html>